<header>
    <div class="container-titulo">
        <h1 class="title-h1-consulta">{{title}}</h1>
        <h1 class="title-h1-clima">{{title2}}</h1>
    </div>
    <p class="description">{{description}}</p>
</header>