<header>
    <div class="container-header-layout">
        <div class="header-title">
            <div class="container-icon-titulo"><i class="fa-solid fa-cloud-sun"></i></div>
            <div class="container-titulo">
                <h1 class="title-clima">Clima</h1>
                <h1 class="title-live">Live</h1>
            </div>
        </div>

        <div class="header-links">
            <div class="links-options">
                <i class="fa-solid fa-house"></i>
                <a href="/">Inicio</a>
            </div>
            <div class="links-options">
                <i class="fa-solid fa-question"></i>
                <a href="/help">Ayuda</a>
            </div>
            <div class="links-options">
                <i class="fa-solid fa-exclamation"></i>
                <a href="/about">Acerca de</a>
            </div>
        </div>
    </div>
</header>