<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>
    <div class="main-layout">
        {{> lateralLayout}}
    </div>

    <div class="main-content">
        {{> header}}

    </div>

</body>

</html>